<h1>사내 요청 등록</h1>
<form action="/requests" method="post">
    <label>
        제목
        <input type="text" name="title">
    </label>

    <label>
        내용
        <textarea name="content"></textarea>
    </label>
    <button type="submit">요청 등록</button>
</form>